* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    color: white;
    padding: 20px 0;
}
header img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
h1, h2 {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.project img {
    width: 100%;
    height: auto;
}

.project2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.project2 img {
    width: 100%;
    height: 123%;
}

.project2 h2 {
    padding-top: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 50px 0;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-info h2, .contact-info a {
    font-size: 2rem;
    margin: 0 10px;
}

.contact-info a{
    color: aqua;
}

@media (min-width: 480px) {
    .project, .project2 {
        width: calc(50% - 20px);
    }
}

@media (min-width: 768px) {
    .project, .project2 {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 1023px) {
    .contact-info {
        flex-direction: column;
        text-align: center;
    }

    .contact-info h2, .contact-info a {
        font-size: 1rem;
        margin: 5px;
    }
}

@media (min-width: 1024px) {
    .contact-info {
        flex-direction: row;
    }
}
